   <mat-list *ngIf="attendanceList?.length; else noAttendance">
    <mat-list-item *ngFor="let record of attendanceList">
      <img matListItemAvatar [src]="record?.image.imageAsDataUrl" alt="{{ record?.user?.name }}">
      <h3 matListItemTitle>{{record?.user?.name}}</h3>
      <p >
        <span> <strong>Staff Id:</strong>  {{record?.user?.id}}</span>
        </p>
        <p>
        <span class="demo-2"><strong>Attendance Marked </strong> -- {{record?.timestamp}}</span>
      </p>
    </mat-list-item>
  </mat-list>

  <ng-template #noAttendance>
    <h2 class="empty-state">No attendance marked yet!!!</h2>
  </ng-template>
  
  