<mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle>{{staffRoster?.staff_id}}</mat-card-subtitle>
      <mat-card-title>{{staffRoster?.name}}</mat-card-title>
      
    </mat-card-header>
    <mat-card-content *ngIf="staffRoster; else noRosterFound">
      <p>Your shift details are as:</p>
      <mat-divider></mat-divider>
      <p>Employment Type  ---   {{ staffRoster?.staff_type }}</p>
      <mat-divider></mat-divider>
      <p>Working Zone  ---   {{ staffRoster?.zone }}</p>
      <mat-divider></mat-divider>
      <p>Shift Type  ---   {{ staffRoster?.shift_type }}</p>
      
      
    </mat-card-content>

    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

  <ng-template #noRosterFound>
    <strong> No Records found</strong>
  </ng-template>
  